---
import GithubIcon from "../icons/Github.astro";
import RedIcon from "../icons/Red.astro";
import { PROYECTOS } from "../utilities/proyectos";
import Badge from "./Badge.astro";
import Socials from "./Socials.astro";
---

<div class="seccion-proyectos">
  {
    PROYECTOS.map(
      ({
        titulo,
        descripcion,
        fecha,
        repositorio,
        pagina,
        imagen,
        tecnologias,
      }) => (
        <article>
          <img
            src={imagen}
            alt={`Imagen de ${titulo}`}
            loading="lazy"
            width="100%"
            height="auto"
          />
          <div class="contenido">
            <h3>{titulo}</h3>
            <time datetime={fecha}>{fecha}</time>
            <p>{descripcion}</p>
            <ul>
              {tecnologias.map((tecnologia) => (
                <Badge {...tecnologia} />
              ))}
            </ul>
            <div class="enlaces">
              <Socials href={repositorio}>
                <GithubIcon class="habilidades-icons" />
                Repositorio
              </Socials>
              {pagina && (
                <Socials href={pagina}>
                  <RedIcon class="habilidades-icons" />
                  Página
                </Socials>
              )}
            </div>
          </div>
        </article>
      )
    )
  }
</div>

<style>
  article {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(255 255 255/ 0.1);
    margin-bottom: 8rem;
    transition: transform 300ms ease-in-out;
  }

  article:last-of-type() {
    margin-bottom: 0;
  }

  article .contenido {
    background-color: #121212;
    padding: 2rem;
    min-height: 100%;
  }

  article h3 {
    color: #dddd5c;
    margin-bottom: 1rem;
  }

  article time {
    font-size: 1.4rem;
    color: #71aad0;
  }

  article p {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  article ul {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .enlaces {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.2rem;
    gap: 1rem;
    margin-top: 4rem;
  }

  .habilidades-icons {
    width: 2.4rem;
    height: 2.4rem;
  }
</style>
